<!-- Navbar social buttons -->
<ul class="nav navbar-nav navbar-right hidden-xs" id="navbar-social-icons">
  <li><a href="{{ site.data.user.google }}?rel=author" target="_blank"><span class="fa fa-google-plus"></span></a></li>
  <li><a href="{{ site.data.user.twitter }}" target="_blank"><span class="fa fa-twitter"></span></a></li>
  <li><a href="{{ site.data.user.linkedin }}" target="_blank"><span class="fa fa-linkedin"></span></a></li>
  <li><a href="{{ site.data.user.github }}" target="_blank"><span class="fa fa-github-alt"></span></a></li>
  <li><a href="{{ site.data.user.instagram }}" target="_blank"><span class="fa fa-instagram"></span></a></li>
</ul>
