---
layout: default
---
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    {% include navbar_header.html %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="{{ site.baseurl }}/index.html">About</a></li> -->
        <li class="active"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        <!-- <li><a href="{{ site.baseurl }}/cv.html">CV</a></li> -->
      </ul>
      {% include navbar_social_icons.html %}
    </div><!-- /.nav-collapse -->
  </div> <!-- /.container -->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-md-offset-1 col-lg-offset-1">
      {{ content }}
    </div>
    {% include blog_sidebar.html %}
  </div>
</div>
